:root {
  --bg-col: rgb(221, 255, 253);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--bg-col);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  gap: 20px;
  height: fit-content;
  background-color: rgb(207, 233, 255);
  border-bottom: 2px solid rgb(153, 206, 255);
}

.navbar h1 {
  margin: 0;
  font-size: 1.8rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar img {
  width: 50px;
}

.main-container {
  height: 1000px;
  justify-content: flex-start;
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: rgb(207, 233, 255);
  border-right: 2px solid rgb(153, 206, 255);
}

.notes-container {
  height: 100%;
  width: 100%;
}