:root {
  --bg-col: rgb(221, 255, 253);
  --prime-col: rgb(207, 233, 255);
  --bord-col: rgb(153, 206, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, main {
  background-color: var(--bg-col);
}

button {
  width: 110px;
  height: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  gap: 20px;
  height: fit-content;
  background-color: var(--prime-col);
  border-bottom: 2px solid var(--bord-col);
}

.navbar h1 {
  margin: 0;
  font-size: 1.8rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar img {
  width: 50px;
}

.main-container {
  justify-content: flex-start;
}

.open {
  display: none;
  justify-content: flex-start;
  gap: 50px;
  width: 100%;
  height: 1000px;
}

.all {
  
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: var(--prime-col);
  border-right: 2px solid var(--bord-col);
}

.sidebar ul {
  list-style: none;
  padding-top: 40px;
}

.sidebar ul li {
  margin-bottom: 30px;
}

.notes-container {
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.notes-showcase {
  height: 90%;
  width: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.note-card {
  background-color: var(--prime-col);
  border: 2px solid var(--bord-col);
  flex-direction: column;
  width: 350px;
  height: 400px;
  border-radius: 15px;
  gap: 30px;
  cursor: pointer;
}

.note-card:hover {
  border: 2px solid rgb(29, 146, 255);
  transform: translate(0, -10px);
}

.new-note-btn {
  font-size: 10rem;
  color: rgb(139, 199, 255);
}

.new-note-btn:hover {
  background-color: rgb(202, 220, 235);
  color: rgb(131, 195, 255);
}

.note-card h4 {
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--bord-col);
}

.note-card p {
  width: 90%;
  height: 60%;
}

.note-view-container {
  margin: 30px;
  padding: 30px;
  width: 1000px;
  height: 900px;
  background-color: rgb(233, 255, 255);
  border: 2px solid var(--bord-col);
}

.note-view-container h2 {
  margin-top: 50px;
  border-bottom: 2px solid var(--bord-col);
}

.note-view-container p {
  margin-top: 30px;
}